<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Craft Beer</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="//res2.weblium.site/res/5f20299a87b61e0022e950a4/5f2837d77eff3500217fab76_optimized"
      sizes="16x16"
    />

    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <nav
        data-hx-get="partial/global/global.nav.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></nav>
      <section
        data-hx-get="partial/index/index.header-hero.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></section>
    </header>
    <main>
      <p></p>
      <section
        data-hx-get="partial/index/index.history.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></section>
      <section
        data-hx-get="partial/index/index.discover.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></section>
      <section
        data-hx-get="partial/index/index.styles.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></section>
      <section
        data-hx-get="partial/index/index.video.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></section>
      <section
        data-hx-get="partial/index/index.events.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></section>
      <section
        data-hx-get="partial/index/index.testimonials.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></section>
      <section
        data-hx-get="partial/index/index.visit.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></section>
      <section
        data-hx-get="partial/index/index.questions.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></section>
      <section
        data-hx-get="partial/index/index.brewery.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></section>
    </main>
    <footer>
      <section
        data-hx-get="partial/global/global.footer.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></section>
    </footer>
  </body>
  <script src="js/index.js"></script>
</html>
