.brewery {
  position: relative;
  background: var(--discover-bg);
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 24px 90px;
    text-align: center;
  }
  &__text {
    color: var(--bg-light);
    font-size: 1.25rem;
    line-height: 32px;
    max-width: 770px;
  }
  &-slider {
    position: relative;
    width: 100%;
    &__icon {
      color: var(--yellow-text);
    }
    &__btn {
      z-index: 1000;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 30px;
      width: 30px;
      border: none;
      background: transparent;
      transition: 0.3s ease;
      opacity: 1;
      &:hover {
        transform: translateY(-50%) scale(1.2);
      }
      &--prev {
        left: 10px;
        transform: translateY(-50%) rotate(180deg);
        &:hover {
          transform: translateY(-50%) rotate(180deg) scale(1.2);
        }
      }
      &--next {
        right: 10px;
      }
    }
    &__wrapper {
      overflow: hidden;
    }
    &__track {
      display: flex;
    }
    &__slide {
      width: 100%;
      flex: 0 0 100%;
      aspect-ratio: 16/9;
    }
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__indicator {
      display: flex;
      gap: 10px;
      margin-top: 20px;
      &-point {
        flex: 1;
        aspect-ratio: 1/1;
        filter: blur(4px);
        cursor: pointer;
        &-active {
          filter: blur(0);
        }
      }

      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__popup {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
    &-active {
      visibility: visible;
      opacity: 1;
    }
    &-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
    }
    &-image-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-content {
      max-width: 1920px;
    }
    &-close {
      top: 10px;
      right: 10px;
      position: absolute;
      z-index: 1002;
      width: 24px;
      height: 16px;
      background: none;
      border: none;
      cursor: pointer;
      &-line {
        display: block;
        width: 100%;
        height: 3px;
        background: #000;
        transition: 0.5s ease;
        &:nth-child(1) {
          transform: translateY(0) rotate(45deg);
        }
        &:nth-child(2) {
          transform: translateY(-4px) rotate(-45deg);
        }
      }
    }
  }
}
@media (min-width: 870px) {
  .brewery-slider__indicator {
    gap: 30px;
    margin-top: 30px;
  }
}
