.button {
  display: inline-block;
  color: var(--white-text);
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  background: var(--button-color);
  border-radius: 30px;
  padding: 15px 50px;
  transition: 0.5s ease;
  &:hover {
    background: var(--button-hover);
    transform: scale(1.1);
  }
}

.outline-after {
  &::after {
    content: "";
    position: absolute;
    padding: 10px 0 50px;
    right: 0;
    bottom: -35px;
    left: 0;
    width: 100%;
    height: 60px;
    background-image: url(https://res2.weblium.site/res/5f20299a87b61e0022e950a4/5f2287d19c838c00218b59ae?nowebp);
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: auto 100%;
    transform: rotate(180deg) translateY(-60px);
  }
}

.outline-before {
  &::before {
    content: "";
    position: absolute;
    padding: 50px 0 10px;
    top: -35px;
    right: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-image: url(https://res2.weblium.site/res/5f20299a87b61e0022e950a4/5f2287d19c838c00218b59ae?nowebp);
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: auto 100%;
    transform: translateY(-60px);
  }
}

.title {
  font-size: 2.125rem;
  font-weight: 700;
  font-family: "Frank Ruhl Libre", serif;
}

.eyebrow {
  font-family: "Frank Ruhl Libre", sans-serif;
  color: var(--yellow-text);
  font-size: 0.875rem;
  font-weight: 600;
}
