.header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(44, 34, 29, 1)),
    url(/assets/hero/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  &-top {
    display: none;
    background: var(--bg-nav);
    &__container {
      display: flex;
      justify-content: space-between;
      padding: 15px 40px;
      font-size: 1.06rem;
      line-height: 29px;
    }
    &__tel {
      color: var(--white-text);
      text-decoration: none;
    }
  }
  &-bottom {
    position: relative;
    z-index: 1000;
    //background: #27201ebb;
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 40px;
      font-size: 1rem;
      font-weight: 500;
    }
    &__content {
      display: none;
      gap: 40px;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      align-items: center;
      gap: 10px;
    }
    &__link {
      color: var(--white-text);
      text-decoration: none;
    }
    &__social {
      display: flex;
      list-style: none;
      align-items: center;
      gap: 20px;
    }
    &__burger {
      width: 24px;
      height: 16px;
      position: relative;
      background: none;
      border: none;
      cursor: pointer;
      &-line {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        transition: 0.5s ease;
        &:nth-child(1) {
          transform: translateY(-5px);
        }
        &:nth-child(2) {
          transform: translateY(0);
        }
        &:nth-child(3) {
          transform: translateY(5px);
        }
      }
      &.is-active .header-bottom__burger-line:nth-child(1) {
        transform: translateY(0) rotate(45deg);
      }
      &.is-active .header-bottom__burger-line:nth-child(2) {
        opacity: 0;
      }
      &.is-active .header-bottom__burger-line:nth-child(3) {
        transform: translateY(-4px) rotate(-45deg);
      }
    }
  }
  &-hero {
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    &__content {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin: auto;
    }
    &__subtitle {
      font-size: 0.875rem;
      color: var(--yellow-text);
      font-family: "Frank Ruhl Libre", serif;
      font-weight: 900;
      letter-spacing: 1.4;
    }
    &__title {
      font-size: 3.625rem;
    }
    &__paragraph {
      color: var(--brown-text);
      font-size: 1.0625rem;
      line-height: 29px;
    }
    &__buttons {
      margin-top: 40px;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }
    &__image {
      width: 100%;
    }
    &__img {
      width: 100%;
      height: auto;
    }
  }
  &__mobile {
    z-index: 101;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--discover-bg);
    display: none;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    padding-top: 124px;
    transition: 0.5s ease;
    &-social {
      margin-top: 50px;
    }
    &.is-open {
      display: flex;
      animation: showMenu 0.3s linear 1;
    }
  }
}
@media (max-width: 700px) {
  .header-top {
    display: none;
  }
  .header-hero::after {
    bottom: -25px;
  }
}
@media (min-width: 768px) {
  .header-hero {
    flex-direction: row;
    gap: 0px;
    &__title {
      font-size: 4.4375rem;
    }
    &__content {
      width: 65%;
    }
  }
}
@media (min-width: 992px) {
  .header-hero {
    &__title {
      font-size: 5.3125rem;
    }
  }
  .header-bottom__burger {
    display: none;
  }
  .header-top {
    display: block;
  }
  .header-bottom__content {
    display: flex;
  }
}

@keyframes showMenu {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
