.testimonials {
  background: var(--bg-light);
  padding: 50px 24px 90px;
  &__container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__title {
    color: var(--dark-text);
  }
  &__subtitle {
    color: var(--darkbrown-text);
    font-size: 1.25rem;
    line-height: 32px;
  }
  &-slider {
    position: relative;
    &__btn {
      z-index: 1000;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 30px;
      width: 30px;
      border: none;
      background: transparent;
      transition: 0.3s ease;
      opacity: 0.6;
      &:hover {
        transform: translateY(-50%) scale(1.2);
      }
      &--prev {
        left: -15px;
        transform: translateY(-50%) rotate(180deg);
        &:hover {
          transform: translateY(-50%) rotate(180deg) scale(1.2);
        }
      }
      &--next {
        right: -15px;
      }
    }
    &__wrapper {
      margin-top: 30px;
      overflow: hidden;
    }
    &__track {
      display: flex;
    }
    &__slide {
      flex: 0 0 100%;
    }
    &__content {
      max-width: 770px;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &__image {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: auto;
      &-first {
        background: url(/assets/testimonials/firstperson.png) 50% 15% / cover
          no-repeat;
      }
      &-second {
        background: url(/assets/testimonials/secondperson.jpg) 50% 15% / cover
          no-repeat;
      }
      &-third {
        background: url(/assets/testimonials/thirdperson.jpg) 50% 15% / cover
          no-repeat;
      }
    }

    &__name {
      color: var(--button-hover);
      font-family: "Frank Ruhl Libre", serif;
      font-size: 1.375rem;
      font-weight: 700;
    }
    &__text {
      color: var(--testimonials-text);
      font-size: 1.0625rem;
      line-height: 29px;
    }
    &__date {
      color: var(--darkbrown-text);
      font-family: "Frank Ruhl Libre", serif;
      font-size: 0.875rem;
      font-weight: 900;
    }
    &__indicator {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      gap: 20px;
      &-point {
        width: 10px;
        height: 10px;
        background: var(--light-text);
        opacity: 0.5;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          background: var(--light-text);
          opacity: 1;
        }
        &-active {
          background: var(--light-text);
          opacity: 1;
        }
      }
    }
  }
}
