.video {
  background: url(/assets/video/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  &__container {
    padding: 90px 24px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
  }
  &__title {
    color: var(--dark-text);
  }
  &__subtitle {
    font-size: 1.25rem;
    color: var(--darkbrown-text);
    line-height: 32px;
  }
  &__video {
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    &-img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
