<section class="footer">
  <div class="footer__container wrapper">
    <div class="footer__top">
      <a href="#" class="footer__top-logo">
        <img
          width="103"
          height="auto"
          src="https://res2.weblium.site/res/5f20299a87b61e0022e950a4/5f2912895ba4cb002260adba?nowebp"
          loading="lazy"
          alt="logo"
          class="footer__top-logo-link"
        />
      </a>
      <div class="footer__top-content">
        <a href="#history" class="footer__top-link">About us</a>
        <a href="#styles" class="footer__top-link">Beer Styles</a>
        <a href="#testimonials" class="footer__top-link">Testimonials</a>
        <a href="#contacts" class="footer__top-link">Contacts Us</a>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__bottom-text">© Created by</p>
      <p class="footer__bottom-text">All rights Reserved</p>
    </div>
  </div>
</section>
