<nav class="header-nav" aria-label="Main headerigation">
  <div class="header-top">
    <div class="header-top__container wrapper">
      <address class="header-top__address">
        6118 Jefferson St, West New York
      </address>
      <a
        href="tel:+12345678900"
        class="header-top__tel"
        aria-label="Call us at +1 (234) 567 89 00"
        >+1 (234) 567 89 00</a
      >
    </div>
  </div>
  <div class="header-bottom">
    <div class="header-bottom__container wrapper">
      <div class="header-bottom__image" aria-label="Go to homepage">
        <a href="" class="header-bottom__logo">
          <img
            width="103"
            height="auto"
            src="https://res2.weblium.site/res/5f20299a87b61e0022e950a4/5f2912895ba4cb002260adba?nowebp"
            loading="lazy"
            alt="logo"
            class="header-bottom__img"
          />
        </a>
      </div>
      <button class="header-bottom__burger">
        <span class="header-bottom__burger-line"></span>
        <span class="header-bottom__burger-line"></span>
        <span class="header-bottom__burger-line"></span>
      </button>
      <div class="header-bottom__content">
        <ul class="header-bottom__list">
          <li class="header-bottom__item">
            <a href="#history" class="header-bottom__link">About us</a>
          </li>
          <li class="header-bottom__item">
            <a href="#styles" class="header-bottom__link">Beer Styles</a>
          </li>
          <li class="header-bottom__item">
            <a href="#testimonials" class="header-bottom__link">Testimonials</a>
          </li>
          <li class="header-bottom__item">
            <a href="#" class="header-bottom__link">Contact Us</a>
          </li>
        </ul>
        <ul class="header-bottom__social">
          <li class="header-bottom__social-item">
            <a class="header-bottom__social-link" href="#" aria-label="Facebook"
              ><img
                src="../assets/header/icon-facebook.svg"
                alt="facebook logo"
                class="header-bottom__social-img"
            /></a>
          </li>
          <li class="header-bottom__social-item">
            <a
              class="header-bottom__social-link"
              href="#"
              aria-label="Instagram"
              ><img
                src="../assets/header/icon-instagram.svg"
                alt="instagram logo"
                class="header-bottom__social-img"
            /></a>
          </li>
          <li class="header-bottom__social-item">
            <a class="header-bottom__social-link" href="#" aria-label="Twitter"
              ><img
                src="../assets/header/icon-twitter.svg"
                alt="twitter logo"
                class="header-bottom__social-img"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="header__mobile">
    <a href="#history" class="header-bottom__link header__mobile-link"
      >About us</a
    >
    <a href="#styles" class="header-bottom__link header__mobile-link"
      >Beer Styles</a
    >
    <a href="#testimonials" class="header-bottom__link header__mobile-link"
      >Testimonials</a
    >
    <a href="#" class="header-bottom__link header__mobile-link">Contact Us</a>
    <address class="header-top__address">
      6118 Jefferson St, West New York
    </address>
    <a
      href="tel:+12345678900"
      class="header-top__tel"
      aria-label="Call us at +1 (234) 567 89 00"
      >+1 (234) 567 89 00</a
    >
    <ul class="header-bottom__social header__mobile-social">
      <li class="header-bottom__social-item">
        <a class="header-bottom__social-link" href="#" aria-label="Facebook"
          ><img
            src="../assets/header/icon-facebook.svg"
            alt="facebook logo"
            class="header-bottom__social-img"
        /></a>
      </li>
      <li class="header-bottom__social-item">
        <a class="header-bottom__social-link" href="#" aria-label="Instagram"
          ><img
            src="../assets/header/icon-instagram.svg"
            alt="instagram logo"
            class="header-bottom__social-img"
        /></a>
      </li>
      <li class="header-bottom__social-item">
        <a class="header-bottom__social-link" href="#" aria-label="Twitter"
          ><img
            src="../assets/header/icon-twitter.svg"
            alt="twitter logo"
            class="header-bottom__social-img"
        /></a>
      </li>
    </ul>
  </div>
</nav>
