<section class="contacts" id="contacts">
  <div class="contacts__container wrapper">
    <div class="contacts__info">
      <h2 class="contacts__title title">Contacts</h2>
      <p class="contacts__subtitle">
        Contact us to book a tour, tasting, or order our beer.
      </p>
      <div class="contacts__list">
        <div class="contacts__item">
          <p class="contacts__item-label">Address</p>
          <div class="contacts__item-info">
            <p class="contacts__item-text">6118 Jefferson St, West New York,</p>
            <p class="contacts__item-text">NJ 07093, USA</p>
          </div>
        </div>
        <div class="contacts__item">
          <p class="contacts__item-label">Hours</p>
          <div class="contacts__item-info">
            <p class="contacts__item-text">Monday - Saturday: 11 AM - 9 PM</p>
            <p class="contacts__item-text">Sunday: 11 AM - 7 PM</p>
          </div>
        </div>
        <div class="contacts__item">
          <p class="contacts__item-label">Contacts</p>
          <div class="contacts__item-info">
            <a href="+12345678900" class="contacts__item-link"
              >+1 (234) 567 89 00</a
            >
            <a href="mailto:craftbrewery@email.com" class="contacts__item-link"
              >craftbrewery@email.com</a
            >
          </div>
        </div>
      </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.417883962921!2d-74.0188027235181!3d40.78531017137115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25761cc63a99f%3A0xdb2ef05a266df9fc!2s6118%20Jefferson%20St%2C%20West%20New%20York%2C%20NJ%2007093%2C%20USA!5e0!3m2!1sru!2sua!4v1700000000000"
        width="100%"
        height="244"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
    <div class="contacts__form">
      <form action="#" class="contacts__form-form">
        <input
          type="text"
          id="name"
          class="contacts__form-input"
          placeholder="Enter your full name*"
          required
        />
        <input
          type="tel"
          id="tel"
          class="contacts__form-input"
          placeholder="Enter your phone number*"
          required
        />
        <input
          type="email"
          id="email"
          class="contacts__form-input"
          placeholder="Enter your e-mail*"
          required
        />
        <textarea
          id="message"
          class="contacts__form-textarea"
          placeholder="Type your message"
        ></textarea>
        <button type="submit" class="contacts__form-button button">
          Submit
        </button>
      </form>
    </div>
  </div>
</section>
