<section class="styles" id="styles">
  <div class="styles-slider">
    <button class="styles-slider__btn styles-slider__btn--prev">
      <svg
        class="styles-slider__icon"
        viewBox="0 0 30 30"
        aria-hidden="true"
        fill="currentColor"
      >
        <path
          d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
        />
      </svg>
    </button>
    <div class="styles-slider__wrapper">
      <div class="styles-slider__track">
        <div class="styles-slider__slide">
          <div class="styles-slider__contaier">
            <div class="styles-slider__beer">
              <img
                src="/assets/styles/beer-dark.png"
                alt=""
                class="styles-slider__img"
              />
            </div>
            <div class="styles-slider__content">
              <div class="styles-slider__eyebrow eyebrow">X X X</div>
              <p class="styles-slider__bestseller">Our Bestsellers</p>
              <div class="history__icon">
                <img
                  src="../assets/hero/wheatear.svg"
                  class="wheatear"
                  height="20px"
                />
              </div>
              <p class="styles-slider__taste">WHEAT MALT</p>
              <h2 class="styles-slider__title title">IMPERIAL STOUT</h2>
              <p class="styles-slider__paragraph">
                A hallmark of this beer is that it is made from 8 different
                varieties of malt and 3 varieties of hops. Thanks to this, it is
                possible to achieve an amazing, unique taste of strong beer. The
                highlight of our imperial stout is a light chocolate flavor.
              </p>
              <div class="styles-slider__info">
                <div class="styles-slider__info-container">
                  <div class="styles-slider__info-content">
                    <p class="styles-slider__info-text">EXTRACT</p>
                    <p class="styles-slider__info-value">18,00%</p>
                  </div>
                  <div class="styles-slider__info-content">
                    <p class="styles-slider__info-text">IBU</p>
                    <p class="styles-slider__info-value">28</p>
                  </div>
                </div>
                <div class="styles-slider__info-container">
                  <div class="styles-slider__info-content">
                    <p class="styles-slider__info-text">ALCOHOL</p>
                    <p class="styles-slider__info-value">9%</p>
                  </div>
                  <div class="styles-slider__info-content">
                    <p class="styles-slider__info-text">SERVING TEMPERATURE</p>
                    <p class="styles-slider__info-value">5-7 °C</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="styles-slider__slide">
          <div class="styles-slider__contaier">
            <div class="styles-slider__beer">
              <img
                src="/assets/styles/beer-green.png"
                alt=""
                class="styles-slider__img"
              />
            </div>
            <div class="styles-slider__content">
              <div class="styles-slider__eyebrow">X X X</div>
              <p class="styles-slider__bestseller">Our Bestsellers</p>
              <div class="history__icon">
                <img
                  src="../assets/hero/wheatear.svg"
                  class="history__wheatear"
                  height="20px"
                />
              </div>
              <p class="styles-slider__taste">WHEAT MALT</p>
              <h2 class="styles-slider__title">IMPERIAL STOUT</h2>
              <p class="styles-slider__paragraph">
                A hallmark of this beer is that it is made from 8 different
                varieties of malt and 3 varieties of hops. Thanks to this, it is
                possible to achieve an amazing, unique taste of strong beer. The
                highlight of our imperial stout is a light chocolate flavor.
              </p>
              <div class="styles-slider__info">
                <div class="styles-slider__info-container">
                  <div class="styles-slider__info-content">
                    <p class="styles-slider__info-text">EXTRACT</p>
                    <p class="styles-slider__info-value">18,00%</p>
                  </div>
                  <div class="styles-slider__info-content">
                    <p class="styles-slider__info-text">IBU</p>
                    <p class="styles-slider__info-value">28</p>
                  </div>
                </div>
                <div class="styles-slider__info-container">
                  <div class="styles-slider__info-content">
                    <p class="styles-slider__info-text">ALCOHOL</p>
                    <p class="styles-slider__info-value">9%</p>
                  </div>
                  <div class="styles-slider__info-content">
                    <p class="styles-slider__info-text">SERVING TEMPERATURE</p>
                    <p class="styles-slider__info-value">5-7 °C</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="styles-slider__slide">
          <div class="styles-slider__contaier">
            <div class="styles-slider__beer">
              <img
                src="/assets/styles/beer-yellow.png"
                alt=""
                class="styles-slider__img"
              />
            </div>
            <div class="styles-slider__content">
              <div class="styles-slider__eyebrow">X X X</div>
              <p class="styles-slider__bestseller">Our Bestsellers</p>
              <div class="history__icon">
                <img
                  src="../assets/hero/wheatear.svg"
                  class="history__wheatear"
                  height="20px"
                />
              </div>
              <p class="styles-slider__taste">WHEAT MALT</p>
              <h2 class="styles-slider__title">IMPERIAL STOUT</h2>
              <p class="styles-slider__paragraph">
                A hallmark of this beer is that it is made from 8 different
                varieties of malt and 3 varieties of hops. Thanks to this, it is
                possible to achieve an amazing, unique taste of strong beer. The
                highlight of our imperial stout is a light chocolate flavor.
              </p>
              <div class="styles-slider__info">
                <div class="styles-slider__info-container">
                  <div class="styles-slider__info-content">
                    <p class="styles-slider__info-text">EXTRACT</p>
                    <p class="styles-slider__info-value">18,00%</p>
                  </div>
                  <div class="styles-slider__info-content">
                    <p class="styles-slider__info-text">IBU</p>
                    <p class="styles-slider__info-value">28</p>
                  </div>
                </div>
                <div class="styles-slider__info-container">
                  <div class="styles-slider__info-content">
                    <p class="styles-slider__info-text">ALCOHOL</p>
                    <p class="styles-slider__info-value">9%</p>
                  </div>
                  <div class="styles-slider__info-content">
                    <p class="styles-slider__info-text">SERVING TEMPERATURE</p>
                    <p class="styles-slider__info-value">5-7 °C</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="styles-slider__btn styles-slider__btn--next">
      <svg
        class="styles-slider__icon"
        viewBox="0 0 30 30"
        aria-hidden="true"
        fill="currentColor"
      >
        <path
          d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
        />
      </svg>
    </button>
    <div class="styles-slider__indicator">
      <div
        class="styles-slider__indicator-point styles-slider__indicator-point-active"
      ></div>
      <div class="styles-slider__indicator-point"></div>
      <div class="styles-slider__indicator-point"></div>
    </div>
  </div>
</section>
