<section class="visit" id="visit">
  <div class="visit__container wrapper">
    <div class="visit__content">
      <div class="visit__eyebrow eyebrow">X X X</div>
      <h2 class="visit__title title">Schedule Your Visit</h2>
      <div class="visit__icon">
        <img src="assets/hero/wheatear.svg" class="wheatear" height="20px" />
      </div>
      <p class="visit__text">
        Sign up for a tour or tasting to learn more about our beers and the
        brewery.
      </p>
      <div class="visit__buttons">
        <a href="#contacts" class="visit__button button">Book now</a>
        <a href="#discover" class="visit__button button">Learn More</a>
      </div>
    </div>
  </div>
</section>
