<section class="discover outline-before" id="discover">
  <div class="discover__container">
    <div class="discover__content wrapper">
      <div class="discover__eyebrow eyebrow">X X X</div>
      <h2 class="discover__title title">Discover Our Beer</h2>
      <div class="discover__icon">
        <img src="assets/hero/wheatear.svg" class="wheatear" height="20px" />
      </div>
      <p class="discover__paragraph">
        We offer not only delicious beer but also an opportunity to fully get
        acquainted with the brewing process.
      </p>
    </div>

    <div class="discover-slider">
      <div class="discover-slider__wrapper">
        <div class="discover-slider__track">
          <div class="discover-slider__slide">
            <div class="discover-slider__content">
              <h3 class="discover-slider__title">INDIVIDUAL TOUR</h3>
              <p class="discover-slider__paragraph">
                We will take you on a personal tour and show you how the beer is
                made from the very start to bottling or barrel filling.
              </p>
              <a href="#contacts" class="discover-slider__btn button">Learn More</a>
            </div>
          </div>
          <div class="discover-slider__slide discover-slider__2">
            <div class="discover-slider__content">
              <h3 class="discover-slider__title">GROUP TOUR</h3>
              <p class="discover-slider__paragraph">
                We offer exciting tours for groups of up to 10 people. You will
                learn more about the brewing process firsthand.
              </p>
              <a href="#contacts" class="discover-slider__btn button">Learn More</a>
            </div>
          </div>
          <div class="discover-slider__slide discover-slider__3">
            <div class="discover-slider__content">
              <h3 class="discover-slider__title">TASTING</h3>
              <p class="discover-slider__paragraph">
                You can sign up for a delicious tasting of the most popular beer
                types with snacks included in the price.
              </p>
              <a href="#contacts" class="discover-slider__btn button">Learn More</a>
            </div>
          </div>
          <div class="discover-slider__slide discover-slider__4">
            <div class="discover-slider__content">
              <h3 class="discover-slider__title">BREWERY MASTERCLASS</h3>
              <p class="discover-slider__paragraph">
                Do you want to feel like a real brewer? We will teach you how to
                make your own beer. You'll become an expert!
              </p>
              <a href="#contacts" class="discover-slider__btn button">Learn More</a>
            </div>
          </div>
          <div class="discover-slider__slide">
            <div class="discover-slider__content">
              <h3 class="discover-slider__title">INDIVIDUAL TOUR</h3>
              <p class="discover-slider__paragraph">
                We will take you on a personal tour and show you how the beer is
                made from the very start to bottling or barrel filling.
              </p>
              <a href="#contacts" class="discover-slider__btn button">Learn More</a>
            </div>
          </div>
          <div class="discover-slider__slide discover-slider__2">
            <div class="discover-slider__content">
              <h3 class="discover-slider__title">GROUP TOUR</h3>
              <p class="discover-slider__paragraph">
                We offer exciting tours for groups of up to 10 people. You will
                learn more about the brewing process firsthand.
              </p>
              <a href="#contacts" class="discover-slider__btn button">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="discover-slider__indicator">
        <div
          class="discover-slider__indicator-point discover-slider__indicator-point-active"
        ></div>
        <div class="discover-slider__indicator-point"></div>
        <div class="discover-slider__indicator-point"></div>
        <div class="discover-slider__indicator-point"></div>
      </div>
    </div>
  </div>
</section>
