<section class="events outline-before outline-after" id="events">
  <div class="events__container wrapper">
    <div class="events__content">
      <div class="events__eyebrow eyebrow">X X X</div>
      <h2 class="events__title title">Our Events</h2>
      <div class="events__icon">
        <img src="assets/hero/wheatear.svg" class="wheatear" height="20px" />
      </div>
      <p class="events__subtitle">
        We regularly hold various events so that you can not only meet all types
        of our beer but also have a great time at Craft Brewery.
      </p>
    </div>
    <div class="events__cards">
      <div class="events__cards-item">
        <div class="events__cards-image"></div>
        <div class="events__cards-content">
          <p class="events__cards-price">Free</p>
          <h3 class="events__cards-title">Open day</h3>
          <p class="events__cards-date">AUGUST 19, 2024</p>
          <p class="events__cards-text">
            Do you want to know all the secrets of brewing? Want to understand
            how real craft beer is made? We will tell you, show you, and offer a
            free tasting.
          </p>
          <a href="#contacts" class="events__cards-button button">Book</a>
        </div>
      </div>
      <div class="events__cards-item">
        <div class="events__cards-content">
          <p class="events__cards-price">From $80</p>
          <h3 class="events__cards-title">AUTUMN BEER FESTIVAL</h3>
          <p class="events__cards-date">SEPTEMBER 01, 2024</p>
          <p class="events__cards-text">
            Do you want to not only enjoy beer but also have fun? We're holding
            a festival! The best beers, live music and fantastic atmosphere are
            waiting!
          </p>
          <a href="#contacts" class="events__cards-button button">Book</a>
        </div>
        <div class="events__cards-image events__cards-second"></div>
      </div>
    </div>
  </div>
</section>
