<section class="history" id="history">
  <div class="history__container wrapper">
    <div class="history__image">
      <img
        src="../assets/history/historybeer.png"
        alt=""
        class="history__img"
      />
    </div>
    <div class="history__eyebrow eyebrow">X X X</div>
    <div class="history__content">
      <div class="history__item">
        <h2 class="history__title title">Crafted to Inspire You Since 1896</h2>
        <div class="history__icon">
          <img
            src="../assets/hero/wheatear.svg"
            class="wheatear"
            height="20px"
          />
        </div>
        <p class="history__subtitle">
          Even now, 120 years later, you can enjoy real beer brewed according to
          medieval recipes.
        </p>
        <p class="history__paragraph">
          In 1896, a small brewery was opened by brewers from Europe. Despite
          the fact that New York had already been a huge metropolis, fame about
          our brewery went all over the city. Within 5 years, our small brewery
          was serving several each month thousand customers who were true craft
          beer fans.
        </p>
      </div>
      <div class="history__item">
        <p class="history__paragraph">
          Time passed, and the brewery expanded. Our business was threatened
          with closure during the Great Depression but we survived. After the
          Second World War, meetings of veterans were often held in our brewery,
          Over a glass of delicious beer, they recalled the old days and
          commemorated the dead.
        </p>
        <p class="history__quote">
          «Today our brewery is one of the largest craft beer venues in New
          York. We have kept the recipes of the late 19th century, and we
          strictly adhere to them. The combination of traditions and new
          technologies allowed us to offer the best beer styles for true
          connoisseurs.»
        </p>
        <div class="history__quote--fotter">
          <img
            src="../assets/history/signature.png"
            alt=""
            class="history__signature"
            width="50px"
            height="70px"
          />
          <p class="history__author">John Cliff</p>
        </div>
      </div>
    </div>
    <div class="history__years">
      <div class="history__years-item">
        <p class="history__years-year">1896</p>
        <ul class="history__years-list">
          <li class="history__years-text">
            <span class="w-text-content">Our brewery was opened</span>
          </li>
        </ul>
      </div>
      <div class="history__years-item">
        <p class="history__years-year">1990</p>
        <ul class="history__years-list">
          <li class="history__years-text">3 fantastic tastes were added</li>
        </ul>
      </div>
      <div class="history__years-item">
        <p class="history__years-year">2003</p>
        <ul class="history__years-list">
          <li class="history__years-text">Modernization of all equipment</li>
        </ul>
      </div>
      <div class="history__years-item">
        <p class="history__years-year">2022</p>
        <ul class="history__years-list">
          <li class="history__years-text">Restaurant opening</li>
        </ul>
      </div>
    </div>
  </div>
</section>
