<section class="header-hero wrapper outline-after" id="hero">
  <div class="header-hero__content">
    <p class="header-hero__subtitle">BREWERY IN NEW YORK</p>
    <h1 class="title header-hero__title">Sharp Taste of History</h1>
    <div class="header-hero__icon">
      <img src="assets/hero/wheatear.svg" class="wheatear" height="20px" />
    </div>
    <p class="header-hero__paragraph">
      Welcome to one of the oldest breweries of New York. We offer a variety of
      delicious craft beers, as well as exciting tours, tastings, and
      master-classes for those who want to learn more about the beer world.
    </p>
    <div class="header-hero__buttons">
      <a href="#styles" class="header-hero__button button">Beer Types</a>
      <a href="#history" class="header-hero__button button">About us</a>
    </div>
  </div>
  <div class="header-hero__image">
    <img src="assets/hero/beer.webp" alt="beer" class="header-hero__img" />
  </div>
</section>
