<section class="testimonials" id="testimonials">
  <div class="testimonials__container wrapper">
    <div class="testimonials__eyebrow eyebrow">X X X</div>
    <h2 class="testimonials__title title">Testimonials</h2>
    <div class="testimonials__icon">
      <img src="../assets/hero/wheatear.svg" class="wheatear" height="20px" />
    </div>
    <p class="testimonials__subtitle">
      Your feedback on our beer and brewery is our best reward.
    </p>
    <div class="testimonials-slider">
      <button class="testimonials-slider__btn testimonials-slider__btn--prev">
        <svg
          class="testimonials-slider__icon"
          viewBox="0 0 30 30"
          aria-hidden="true"
          fill="currentColor"
        >
          <path
            d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
          />
        </svg>
      </button>

      <div class="testimonials-slider__wrapper">
        <div class="testimonials-slider__track">
          <div class="testimonials-slider__slide">
            <div class="testimonials-slider__content">
              <div
                class="testimonials-slider__image testimonials-slider__image-first"
              ></div>
              <p class="testimonials-slider__name">Tom Peterson</p>
              <p class="testimonials-slider__text">
                “I am a true beer fan and order beverages only from this
                brewery. I've tried all the beer types here, and I have my
                favorite styles. I love the amazing taste of Indian Pale Ale
                most of all. The prices are also very affordable.”
              </p>
              <p class="testimonials-slider__date">December 15, 2024</p>
            </div>
          </div>
          <div class="testimonials-slider__slide">
            <div class="testimonials-slider__content">
              <div
                class="testimonials-slider__image testimonials-slider__image-second"
              ></div>
              <p class="testimonials-slider__name">Erica Madisson</p>
              <p class="testimonials-slider__text">
                “I've always wondered how craft beer is made. I booked a group
                tour with friends, and I was completely delighted with how
                everything is organized at Craft Brewery. Now I buy only craft
                beer as it is much better and healthier than beers sold in the
                usual stores.”
              </p>
              <p class="testimonials-slider__date">March 25, 2024</p>
            </div>
          </div>
          <div class="testimonials-slider__slide">
            <div class="testimonials-slider__content">
              <div
                class="testimonials-slider__image testimonials-slider__image-third"
              ></div>
              <p class="testimonials-slider__name">David Bowman</p>
              <p class="testimonials-slider__text">
                “The Imperial Stout beer is amazing. I really love strong beer,
                and Imperial Stout is literally the best strong beer I've ever
                tasted. From the very first order, I've become a fan of Craft
                Brewery. Great taste, great prices, and a great venue.”
              </p>
              <p class="testimonials-slider__date">August 01, 2024</p>
            </div>
          </div>
        </div>
      </div>

      <button class="testimonials-slider__btn testimonials-slider__btn--next">
        <svg
          class="testimonials-slider__icon"
          viewBox="0 0 30 30"
          aria-hidden="true"
          fill="currentColor"
        >
          <path
            d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
          />
        </svg>
      </button>
      <div class="testimonials-slider__indicator">
        <div
          class="testimonials-slider__indicator-point testimonials-slider__indicator-point-active"
        ></div>
        <div class="testimonials-slider__indicator-point"></div>
        <div class="testimonials-slider__indicator-point"></div>
      </div>
    </div>
  </div>
</section>
