<section class="video">
  <div class="video__container wrapper" id="video">
    <div class="video__eyebrow eyebrow">X X X</div>
    <h2 class="video__title title">Video Tour</h2>
    <div class="history__icon">
      <img src="../assets/hero/wheatear.svg" class="wheatear" height="20px" />
    </div>
    <p class="video__subtitle">
      Want to see how the brewery works? Watch our video!
    </p>
    <div class="video__video">
      <img
        src="/assets/video/video.webp"
        alt="video"
        class="video__video-img"
      />
    </div>
  </div>
  <div class="partners wrapper" id="partners">
    <div class="partners__content">
      <div class="partners__eyebrow eyebrow">X X X</div>
      <h2 class="partners__title title">Our Partners</h2>
      <div class="history__icon">
        <img src="../assets/hero/wheatear.svg" class="wheatear" height="20px" />
      </div>
      <p class="partners__subtitle">
        We work with the best breweries in the United States.
      </p>
      <p class="partners__paragraph">
        We share our experience and develop new types of beer together.
      </p>
    </div>
    <div class="partners__partners">
      <div class="partners__partners-item">
        <div class="partners__partners-logo">
          <img
            src="/assets/partners/premiumbeerbrewing.svg"
            alt="Premium Beer Brewing logo"
            class="partners__partners-img"
          />
        </div>
        <p class="partners__partners-name">Premium Beer Brewing</p>
      </div>
      <div class="partners__partners-item">
        <div class="partners__partners-logo">
          <img
            src="/assets/partners/premiumqualitybeer.svg"
            alt="Premium Quality Beer logo"
            class="partners__partners-img"
          />
        </div>
        <p class="partners__partners-name">Premium Quality Beer</p>
      </div>
      <div class="partners__partners-item">
        <div class="partners__partners-logo">
          <!-- <div class="">text</div> -->
          <img
            src="/assets/partners/loremsbrewingco.svg"
            alt="Lorem's Brewing Co. logo"
            class="partners__partners-img"
          />
        </div>
        <p class="partners__partners-name">Lorem's Brewing Co.</p>
      </div>
    </div>
  </div>
</section>
